node_modules/
.expo/
.expo-shared/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Django
*.log
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Virtual environment
.venv/

# Uploaded media & collected static
media/
staticfiles/

# HuggingFace model cache
.cache/

# ngrok binary
ngrok.exe
ngrok

# Modal
modal_app.py